@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* HEADER */
header {
    background-color: #1f2937;
    padding: 1em 13em;
}

/* NAVIGATION */
#logo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.nav ul {
    list-style-type: none;
    display: flex;
    gap: 1.5em;
}

.secondary,
a:link {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

/* WELCOME */
.welcome {
    padding: 7em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.welcome .left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.welcome .right {
    flex-shrink: 0;
    width: 50%;
}

.hero {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
}

button {
    padding: 7px 1em;
    width: 120px;
}

.welcome button {
    background-color: #3882F6;
    border: none;
    border-radius: 8px;
}

.image {
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 215px;
}

/* CARD SECTION */